@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
//font-family: 'Montserrat', sans-serif;

//$primaryColor:Linear Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%)

$VeryLightGrayishBlue: hsl(240, 78%, 98%);
$LightGrayishBlue: hsl(234, 14%, 74%);
$GrayishBlue: hsl(233, 13%, 49%);
$DarkGrayishBlue: hsl(232, 13%, 33%);