@import 'fontsColors.scss';
@import 'slider.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: $VeryLightGrayishBlue;

}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

header {
    padding: 30px;
    width: 100%;

    .contenedor {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .title {
            color: $GrayishBlue;
            margin-bottom: 30px;

            h1 {
                font-size: 2rem;
            }
        }

        .switchBox {
            display: flex;

            p {
                font-size: 0.9rem;
                color: $LightGrayishBlue;

            }

        }

    }
}

.cardsBox {
    margin-bottom: 50px;
    width: 100%;

    .container {

        display: flex;
        justify-content: center;
        align-items: flex-start;

        .boton {
            margin: 1rem 0;

            font-size: 0.8rem;
            letter-spacing: 0.12rem;
            padding: 0.5rem 0;
            width: 100%;
            border-radius: 0.5rem;
            border: none;
        }

        .card2 {
            margin-top: 25px;

        }

        .active {
            background-image: $primaryColor;
           height: 430px;
            padding-top: 25px;

            .card-body {
                .card-title {
                    color: #fff;
                }

                .price {
                    color: #fff;
                    border-bottom: 1px solid $VeryLightGrayishBlue;
                }

                .list {
                    li {
                        color: #fff;
                        border-bottom: 1px solid $VeryLightGrayishBlue
                    }
                }

                .boton2 {
                    margin-top: 1rem;
                    //margin-bottom: 3rem;
                    color: $GrayishBlue;
                    background-color: #fff;

                    &:hover
                    {
                        color: #fff;
                        background:none;
                        border: 1px solid #fff;
                    }

                }
            }


        }

        .card {


            border-radius: 0.9rem;

            .card-body {

                text-align: center;

                p {
                    font-size: 0.94rem;
                    color: $GrayishBlue;
                }


                h2 {
                    font-size: 3rem;
                    color: $DarkGrayishBlue;
                    border-bottom: 1px solid $LightGrayishBlue;
                    padding: 1rem 0;
                }

                ul {
                    list-style: none;

                    li {
                        font-size: 0.94rem;
                        color: $GrayishBlue;
                        border-bottom: 1px solid $LightGrayishBlue;
                        padding: 0.6rem 0;
                    }
                }

                .btn1 {
                    background-image: $primaryColor;
                    color: #fff;

                    &:hover
                    {
                        color: $LightGrayishBlue;
                        background:none;
                        border: 1px solid $LightGrayishBlue ;
                    }
                }

            }

        }
    }
}

// @media only screen and (max-width:850px) {
//     .cardsBox {
//         margin-bottom: 50px;
//         width: 100%;

//         .container {

//             display: flex;
//             justify-content: center;
//             flex-direction: column;
//             align-items: center;

//             .active {
//                 .boton2 {
                   
//                     margin-bottom: 0rem;

//                 }
//             }
//         }

//     }

// }