@import 'fontsColors.scss';
@import 'slider.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: $VeryLightGrayishBlue;

}

.contenedor
{
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

header
{
    padding:50px;
    width: 100%;
    .contenedor
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    
        .title
        {
            color: $GrayishBlue;
            margin-bottom: 30px;
            h1
            {
                font-size: 2rem;
            }
        }
 
        .switchBox
        {
            display: flex;
            p
            {
                font-size: 0.9rem;
                color: $LightGrayishBlue;
               
            }
            
        }
      
    }
}